.swiper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-top: 16px;
}

.swiper-slide {
  position: relative;
  transition: opacity 0.8s;
  
  &:not(.swiper-slide-visible) {
    pointer-events: none;
    opacity: 0.3;
  }
}